<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      href="/static/favicon-96x96.png"
      sizes="96x96"
    />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="OTM" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="apple-touch-icon" href="/static/icon-192.png" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="OTM" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <title>Read Message</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 min-h-screen flex items-center justify-center px-4">
    <div
      class="bg-white p-6 rounded-2xl shadow-md w-full max-w-md text-center space-y-4"
    >
      <h1 class="text-2xl font-bold">📨 Decrypted Message</h1>

      <div id="spinner" class="flex justify-center items-center h-10">
        <div
          class="animate-spin rounded-full h-6 w-6 border-2 border-b-transparent border-gray-600"
        ></div>
      </div>

      <pre
        id="output"
        class="hidden p-4 bg-gray-100 rounded text-gray-800 text-sm whitespace-pre-wrap text-left max-h-[300px] overflow-auto"
      ></pre>

      <button
        onclick="window.location.href='/'"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition transform hover:scale-105 active:scale-95 text-sm font-medium"
      >
        🔄 Create New Message
      </button>
    </div>

    <script>
      async function fetchMessage() {
        const pathParts = window.location.pathname.split("/");
        const id = pathParts[pathParts.length - 1];
        const res = await fetch(`/api/msg/${id}`);
        const output = document.getElementById("output");
        const spinner = document.getElementById("spinner");

        spinner.style.display = "none";
        output.classList.remove("hidden");

        if (!res.ok) {
          output.textContent = "❌ Failed to load message or it has expired.";
          output.classList.add("text-red-500");
          return;
        }

        const data = await res.json();
        output.textContent = data.message;
      }

      fetchMessage();
    </script>

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/static/service-worker.js")
          .then(() => console.log("✅ Service Worker registered"))
          .catch((err) => console.error("❌ SW failed", err));
      }
    </script>
  </body>
</html>
